version: "3.8"


services:
  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    environment:
      - PORT=3000
      - SESSION_SECRET=${SESSION_SECRET}
    ports:
      - "3000:3000"
    volumes:
      - ./ai-career-canvas/backend:/app

  frontend:
    build:
      context: .
      dockerfile: docker/frontend.Dockerfile
    ports:
      -"8080:8080"
    depends_on:
      - backend
      
